.eventblock {
  position: absolute;
  box-shadow: inset 0px 0px 0px 2px #777;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #fff;
}

.eventtextblock {
  position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#schedulecontent {
  position: relative;
}

#schedulegridlayout {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 40px auto;
  min-width: max-content;
  min-height: max-content;
}

#schedulecorner {
  position: sticky;
  width: 200px;
  height: 40px;
  z-index: 11;
  background-color: #333;
  color: #fff;
  left: 0px;
  float: left;
  font-size: 30px;
  box-shadow: inset 0px 0px 0px 2px #777;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
}

#schedulexaxis {
  position: sticky;
  z-index: 9;
  background-color: #333;
  color: #fff;
  top: 0px;
  float: left;
  min-width: max-content;
  min-height: max-content;
}

#scheduleyaxis {
  position: sticky;
  width: 200px;
  z-index: 10;
  background-color: #333;
  color: #fff;
  left: 0px;
  float: left;
}

.locationblock {
  position: relative;
  box-shadow: inset 0px 0px 0px 2px #777;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}

.timeblock {
  float: left;
  position: relative;
  box-shadow: inset 0px 0px 0px 2px #777;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 40px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #000;
  font-family: sans-serif;
  overflow: hidden;
}

#schedulearea {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overscroll-behavior: contain;
}

.vertgridline {
  position: absolute;
  outline: 1px dashed #444;
  width: 0px;
  z-index: -1;
}

.horgridline {
  position: absolute;
  outline: 1px dashed #444;
  height: 0px;
  z-index: -1;
}

#modalcontainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 20;
  color: #fff;
}

#eventinfomodal {
  width: 600px;
  position: relative;
  background-color: #444;
  padding: 10px;
  border: 10px solid #222;
  border-radius: 10px;
  min-height: max-content;
  min-height: 500px;
  max-height: 70vh;
  overflow-y: auto;
}

#eventinfoname {
  font-size: 150%;
  -webkit-text-size-adjust: 120%;
}

#settingsbutton {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: #444;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: inset 0px 0px 0px 3px #fff;
  color: #fff;
}

#settingsmodal {
  width: 600px;
  position: relative;
  background-color: #444;
  padding: 10px;
  border: 10px solid #222;
  border-radius: 10px;
  min-height: max-content;
  min-height: 500px;
  max-height: 70vh;
  overflow-y: auto;
}

#settingsmodaltitle {
  font-size: 150%;
  -webkit-text-size-adjust: 120%;
}

.trackvisibilitytogglelabel {
  box-shadow: inset 0px 0px 0px 2px #777;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.settingscheckbox {
  width: 25px;
  height: 25px;
}

.currenttimeindicatormain {
  position: absolute;
  outline: 2px solid #f006;
  width: 0px;
  z-index: -3;
}

.currenttimeindicatorsecondary {
  position: absolute;
  outline: 2px solid #f004;
  width: 0px;
  z-index: 4;
}

.currenttimeindicatortop {
  position: absolute;
  outline: 2px solid #f004;
  width: 0px;
  height: 36px;
  top: 2px;
  z-index: 12;
}

.settingsbutton {
  width: 35px;
  height: 35px;
}